html, body {
	margin: 0;
	padding: 0;
}

body, .page {
	min-height: 100vh;
}

h1, h2 {
	margin: 0;
}

h2 {
	color: #777;
}


.page {
	display: flex;
	flex-direction: column;
}

.page a {
	text-decoration: none;
}

.page > .content {
	padding-top: 15px;
	flex: 1;
}

.container {
	background-color: #ccc;
}

.note-item {
	margin-bottom: 1em;
}

.note-content {
	padding: 1em;
	border-radius: 0.5em;
	background-color: #aaa;
}

.note-content h3 {
	margin: 0;
}

.label-list a {
	display: inline-block;
	padding: 0 0.3em;
}

.label-list a:last-child {
	margin-right: 0;
}