{% extends "base.html" %}

{% load label_list_note %}

{% block content %}
{% if latest_notes_list %}
<div class='note-wrapper row'>
  {% for note in latest_notes_list %}
  <div class='note-item col-xs-12 col-sm-6 col-md-4'>
    <div class='note-content'>
      <h3><a href="{% url 'notes:detail' note.id %}">{{ note.note_title }}</a></h3>
      <p class='note-body'>{{ note.note_text }}</p>
      {% label_list_note note.labels.all %}
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<p>No notes are available.</p>
{% endif %}
{% endblock %}
